/*整体*/

* {
    margin: 0;
    padding: 0;
}

body > * {
    padding: 0 15%;
    font-family: "微软雅黑", sans-serif;
}

/*标题*/

h4 {
    margin-bottom: 15px;
    font-weight: normal;
}

h4::before {
    content: '|';
    color: rgb(190, 3, 5);
    font-weight: bolder; /*换成红色竖线图片*/
}

/*页眉*/

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 5px;
    padding-bottom: 5px;
}

/*搜索框*/

.search-box {
    width: 205px;
    height: 34px;
    border: 1px solid #777;
}

.search-text {
    display: block;
    float: left;
    box-sizing: border-box;
    width: 172px;
    height: 30px;
    padding: 2px 0 2px 3px;
    border: none;
    color: #888;
}

.search-button {
    display: block;
    float: right;
    width: 28px;
    height: 34px;
    margin-top: 3px;
    background: url(../img/search.png) no-repeat;
    border: none;
    cursor: pointer;
}

/*导航栏*/

.navbar {
    background-color: rgb(191, 5, 6);
}

.navbar-nav {
    width: 100%;
}

.nav-item {
    list-style-type: none;
    vertical-align: middle;
    font-size: 1em;
}

.nav-item a {
    color: white;
    text-decoration: none;
}

.nav-item:hover {
    background-color: rgb(125, 1, 1);
}

/*导航栏（移动设备）*/

@media (max-width: 768px) {
    .navbar {
        padding: 0;
        text-align: left;
    }

    .nav-item {
        padding: 2px 0 2px 5px;
    }
}

/*导航栏（电脑）*/

@media (min-width: 768px) {
    .navbar {
        padding: 0 15%;
        text-align: center;
    }

    .navbar-nav {
        display: table;
        table-layout: fixed;
        margin: 0;
    }

    .nav-item {
        display: table-cell;
        padding: 2px;
    }
}

/*轮播图*/

#scroll {
    padding: 0;
    margin: 0;
}

.carousel .carousel-inner img {
    width: 100%;
    height: 100%;
}

/*三个板块*/

.big-division, .products, .questions {
    padding: 1em 15%;
    margin: 0;
}

/*新闻资讯*/

.news-picture {
    position: relative;
}

.news-picture img {
    width: 100%;
    height: 248px;
}

/*.news .news-picture .news-picture-caption{*/
/*    position: absolute;*/
/*    bottom: 0;*/
/*    width: 90%;*/
/*    margin: 0;*/
/*    color: white;*/
/*    background-color: black;*/
/*}*/

.news-list li {
    display: block;
    position: relative;
    width: 99%;
    height: auto;
    line-height: 30px;
    border-bottom: 1px #ccc dashed;
    list-style: none;
    font-size: 15px;
}

.news-item {
    text-decoration: none;
    color: #676767;
}

.news-item:hover {
    color: rgb(194, 10, 10);
}

.news-date {
    float: right;
    color: #A5A5A5;
}

/*企业动态*/

.events ul li {
    display: block;
    position: relative;
    width: 99%;
    height: 49px;
    margin: 4px 0;
    list-style: none;
}

.event-date {
    float: left;
    width: 55px;
    height: 100%;
    text-align: center;
    color: white;
}

.event-date .dd {
    font-size: 25px;
    line-height: 30px;
    background-color: rgb(191, 5, 6);
}

.event-date .yymm {
    font-size: 13px;
    line-height: 16px;
    background-color: rgb(205, 55, 66);
}

.events a {
    display: block;
    margin: 0;
    padding-left: 60px;
}

.event-title, .event-title:hover {
    color: #676767;
}

.event-content, .event-content:hover {
    color: #A5A5A5;
}

/*产品展示*/

.products {
    background-color: rgb(247, 244, 246);
}

/* List style */
.products ul.thumbnails {
    list-style: none;
    margin: 0;
    padding: 0;
}

.products ul.thumbnails li {
    padding: 5px;
}

.products .thumbContent {
    text-align: center;
    padding-top: 25%;
}

.products .thumbOverlay {
    display: none;
    position: absolute;
    top: 5px;
    left: 5px;
    width: calc(100% - 10px);
    height: calc(100% - 10px);
    background: rgba(0, 0, 0, 0.7);
}

.products ul.thumbnails h4 {
    color: white;
}

.products ul.thumbnails img {
    width: 100% !important;
    margin: 0;
}

.products ul.thumbnails p {
    color: #999;
}

.products .thumbnail {
    border: 0;
    margin: 0;
    width: 100% !important;
}

.products .carousel-control-prev, .products .carousel-control-next {
    width: 7%;
}

/*问题咨询*/

.questions fieldset {
    display: flex;
    flex-wrap: wrap;
    border: none;
}

.questions fieldset * {
    flex-grow: 1;
    padding-left: 5px;
    margin: 4px;
    border: 2px solid rgb(159, 159, 159);
    font-size: 1em;
    line-height: 2em;
}

.questions textarea {
    width: 100%;
}

.button-area {
    display: flex;
    justify-content: center;
}

.button-area input {
    width: 150px;
    padding: 5px 0;
    margin: 4px 5%;
    font-size: 15px;
}

.button-area input[type="submit"] {
    color: white;
    background-color: rgb(191, 5, 6);
    border: none;
}

.button-area input[type="submit"]:hover {
    background-color: rgb(125, 1, 1)
}

.button-area input[type="reset"] {
    background-color: white;
    border: 2px solid black;
}

.button-area input[type="reset"]:hover {
    color: white;
    background-color: black;
}

/*友情链接*/

.links {
    background-color: rgb(191, 5, 6);
}

.links > * {
    display: inline-block;
    margin: 0;
    color: white;
    font-size: 1.2em;
}

.links ul {
    display: inline-flex;
    align-items: center;
    flex-wrap: wrap;
}

.links li {
    flex-direction: row;
    list-style-type: none;
    padding: 5px;
}

.links a {
    color: white;
    text-decoration: none;
}

.links a:hover {
    text-decoration: underline;
}

footer {
    padding: 1em 15%;
    color: white;
    background-color: rgb(71, 71, 71);
}